# Python bytecode
__pycache__/
*.py[cod]

# Manim output files
media/
*.mp4
*.webm
*.avi
*.gif
*.jpg
*.png
*.svg

# Backup files
*.bak
*.tmp

# Virtual environment
venv/
env/
*.egg-info/
*.egg

# IDE or editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Other temporary files
.DS_Store
Thumbs.db
